{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is update page</h1>

    <form action="/update_data/{{data.id}}" method="POST">
        {%csrf_token%}
        Title<input type="text" name="Name" value="{{data.title}}" id=""><br>
        
        <br>
        Description<input type="text" value="{{data.description}}" name="description" id=""><br>
        <br>
        No of Lines <input type="number" value="{{data.no_of_lines}}" name="no_of_lines" id=""><br>
        <input type="submit" value="UPDATE"><br>
    
    </form>
</body>
</html>